.layout {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 100vh;
    background: lawngreen;
}

.layout_row {
    flex-direction: row;
}

.layout_column {
    flex-direction: column;
}

.layout__tape {
    display: flex;
    background: aqua;
}

.layout__tape_row {
    flex-direction: row;
}

.layout__tape_column {
    flex-direction: column;
}

.layout__cell {
    background: antiquewhite;
    border: 1px solid black;
}

.layout__splitter {
    position: absolute;
    background: #006378;
}

.layout__splitter_top {
    left: 0;
    right: 0;
    height: 20px;
}

.layout__splitter_bottom {
    margin-top: -20px;
    left: 0;
    height: 20px;
    right: 0;
}

.layout__splitter_left {
    top: 0;
    bottom: 0;
    width: 20px;
}

.layout__splitter_right {
    top: 0;
    margin-left: -20px;
    bottom: 0;
    width: 20px;
}
