.layout {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 100vh;
    background: lawngreen;
}

.tape {
    display: flex;
    background: aqua;
}

.cell {
    background: antiquewhite;
    border: 1px solid black;
}

.splitter_top {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    background: #006378;
}

.splitter_bottom {
    position: absolute;
    margin-top: -20px;
    left: 0;
    height: 20px;
    right: 0;
    background: #006378;
}

.splitter_left {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: #006378;
}

.splitter_right {
    position: absolute;
    top: 0;
    margin-left: -20px;
    bottom: 0;
    width: 20px;
    background: #006378;
}
