
.document_size_s {
    position: fixed;
    width: 50%;
    height: 50%;
}

.document_theme_aqua {
    background-color: aqua;
}

.document__drawing_size_m {
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.document__marks_size_m {
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.document__marks_theme_transparent {
    background-color: transparent;
}

.document__marks_pointer-events_disabled {
    pointer-events: none;
}
