.navigator-toolbar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    background-color: #565b66;
}

.navigator-toolbar__path {
    margin-left: 140px;
}

.navigator-toolbar__text {
    height: 20px;
    font-size: 16px;
    line-height: 0.63;
    text-align: left;
}

.navigator-toolbar__text_slash {
    color: #ffdda5;
    margin-left: 2px;
    margin-right: 2px;
}


.navigator-toolbar__text_previous-nodes {
    color: #ffdda5;
}

.navigator-toolbar__text_current-node {
    color: #ffffff;
}

.nodes-list__col-names {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    background-color: rgba(193, 193, 193, 0.21);
}

.nodes-list__text {
    width: 30%;
    height: 17px;
    text-align: left;
    margin-left: 10px;
}

.nodes-list__text_col-name {
    color: #8d919a;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.nodes-list__line {
    margin-left: 0.625%;
    width: 98.75%;
    height: 1px;
    background-color: #d9d9d9;
}

.nodes-list__node {
    width: 100%;
    height: 99px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}

.nodes-list__node:hover {
    background-color: #eeeff6;
}

.nodes__text_node-attrs {
    font-size: 15px;
    color: #000000;
}
