.nodeSpan {
    width: 30%;
    margin-left: 10px;
}

.path {
    margin-left: 50px;
}

.node {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    border-bottom: 2px solid #c5bba9;
}

.colNames {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    font-size: large;
    border-bottom: 2px solid slategray;
}

.node:hover {
    background-color: #c5bba9;
    border-bottom: none;
}

a {
    text-decoration: none;
    color: black;
}

.upperPanel {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    border-bottom: 3px solid slategray;
}
