.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #cacbca;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

.spinner__center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
